@charset "UTF-8";

/* Tablet, PC e TV */

.grid-products {
    grid-template-columns: repeat(3, 1fr);
}
.grid-products img:hover {
    opacity: 0.7;    
}

nav {
    display: block;
}
.menu_container {
    display: none;
}
hr {
    display: none;
}
nav li {
    display: inline-block;
    width: 160px;
    text-align: center;
    font-size: 1.1em;
}

main p {
    font-size: 1.15em;
    text-indent: 30px;
}

h2 {
    font-size: 1.5em;
}
