@charset "UTF-8";

/* Tablet, PC e TV */

img.produto {
    width: 49.5%;
}

nav {
    display: block;
}

span#burger {
    display: none;
}

nav li {
    display: inline-block;
    width: 160px;
    text-align: center;
    font-size: 1.1em;
}

main p {
    font-size: 1.15em;
    text-indent: 30px;
}

h2 {
    font-size: 1.5em;
}