@charset "UTF-8";

/* Tablet, PC e TV */

img.produto {
    width: 49.5%;
}

nav {
    display: block;
}

span#burger {
    display: none;
}

nav li {
    display: inline-block;
    width: 120px;
    text-align: center;
}
