@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Amarillo';
    src: url(fontes/amarillo/Amarillo.otf) format('opentype'),
    url(fontes/amarillo/Amarillo.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --corx: #ffeeeb;
    --cor0: #f4c28d;
    --cor1: #f29f8d;
    --cor2: #e76e6a9c;
    --cor3: #b66d6d;
    --cor4: #a64b4b;
    --cor5: #5f2b2ba2;
    --cory: #9F6372;
    --corz: #C3A4A6;
    --chamativa: "Amarillo", serif;
    --basica: "Montserrat", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
    background-image: url('imagens/Padronagem.jpeg');
}

header {
    padding: 40px;
    background-color: var(--cory);
}

header > h1 {
    font-family: var(--chamativa);
    text-align: center;
    color: white;
    line-height: 80px;
}

nav {
    padding: 3px 5px;
    background-color: var(--cory);
    box-shadow: 0px 3px 3px var(--cor5);
}

nav a {
    color: white;
    text-decoration: none;
    padding: 3px 10px;
    font-family: var(--basica);
    border-radius: 3px;
}

nav a:hover {
    background-color: var(--cor2);
}

nav a:visited {
    color: var(--cor0);
}

main {
    padding: 15px;
    max-width: 1000px;
    border-radius: 0px 0px 15px 15px;
    height: auto;
    margin: auto;
    background-color: var(--corx);
    box-shadow: 0px 3px 3px var(--cor5);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-family: var(--basica);
    font-weight: normal;
}

h2 {
    color: var(--cor3);
    text-align: center;
    margin: 15px 0px 30px 0px;
    font: italic normal 1.3em var(--basica);
}

img {
    width: 100%;
}

div#produto {
    text-align: center;
}
img.produto {
    width: 49.6%;
    min-width: 320px;
}

img#danielle {
    float: right;
    margin: 15px 0px 5px 18px;
    width: 28vw;
    min-width: 200px;
    max-width: 270px;
}

img#casal {
    float: left;
    margin: 5px 18px 5px 0px;
    width: 28vw;
    min-width: 200px;
    max-width: 270px;
}

div#parallax {
    position: relative;
    height: 150vh;
    /*box-shadow: inset 1px 1px 15px rgba(39, 32, 38, 0.479);*/
    background: var(--corx) url('imagens/parallax1.jpg') center center no-repeat fixed;
    background-size: scroll;
    margin: 30px -15px;
}

div#parallax > h3 {
    position: absolute;
    text-align: center;
    color: var(--corx);
    font: normal 5.5vw var(--chamativa);
    width: max-content;
    max-width: 450px;
    line-height: 150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

footer {
    font-family: var(--basica);
    font-size: 0.8em;
    margin-top: 30px;
    background-color: var(--cory);
    color: white;
    text-align: center;
}

footer p {
    padding: 2px 2px;
}